$massive-blue: #006D77;
$font-family_1: "Inter", sans-serif;

.products-to-auth-section{
    div{
        div{
            div{
                table{
                    font-family: $font-family_1;
                    tr{
                        th{
                            width: 33vw;
                        }
                        &:not(:first-child) {
                            th{
                                font-weight: 400 !important;
                                border: solid #006D77 2px;
                            }
                        }
                        &:first-child{
                            th{
                                border: solid #006D77 2px;
                                background-color: #006D77;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}