$massive-blue: #006D77;
$font-family_1: "Inter", sans-serif;

.categories-body{
    .add-categories-section{
        div{
            div{
                div{
                    display: flex;
                    flex-direction: column;
                    align-content: space-around;
                    flex-wrap: wrap;
                    .add-category{
                        form{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                        }
                    }
                    button.show-form{
                        background-color: $massive-blue;
                        border-radius: 5px;
                        border: none;
                        color: white;
                    }
                }
            }
        }
    }
    .categories-section{
        div{
            div{
                div{
                    table{
                        font-family: $font-family_1;
                        tr{
                            th{
                                width: 33vw;
                            }
                            &:not(:first-child) {
                                th{
                                    font-weight: 400 !important;
                                    border: solid #006D77 2px;
                                }
                            }
                            &:first-child{
                                th{
                                    border: solid #006D77 2px;
                                    background-color: #006D77;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}