$white: #EDF6F9;
$bebas: "Bebas Neue", sans-serif;
$massive-blue: #006D77;

.product-body{
    padding: 20px 0px 0px 0px;
    .product-container{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        .image-container{
            text-align: right;
        }
        .product-info-container{
            h2{
                font-family: $bebas;
                font-size: 4vw;
                word-wrap: break-word;
            }
            max-width: 30%;
            .price-container{
                font-family: $bebas;
                display: flex;
                p{
                    word-wrap: break-word;
                    &:first-child{
                        font-size: 5vw;
                        color: red;
                    }
                    &:nth-child(2){
                        font-size: 2vw;
                        text-decoration:line-through;
                    }
                    
                }
            }
            .buttons-second-container,
            .buttons-container{
                button{
                    max-height: 7vh;
                    background-color: $massive-blue;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    padding: 10px;
                    margin: 2px 0px;
                    &:hover{
                        color: $massive-blue;
                        background-color: white;
                        transition: ease-in-out;
                        transition-duration: .3s;
                        svg{
                            .cls-1{
                                fill: #006d77;
                            }
                        }
                    }
                    svg{
                        width: 1.5vw;
                    }
                }
            }
            .buttons-container{
                button{
                    &:first-child{
                        width: 11vw;
                    }
                    &:nth-child(2){
                        width: 3vw;
                    }
                }
            }
            .buttons-second-container{
                button{
                    width: 14.4vw;
                }
            }
        }
    }
}

#cotizacionModal{
    .modal-content{
        padding: 20px;
        .cotizacion-header{
            color: $massive-blue;
            h3{
                padding: 10px;
            }
        }
        .cotizacion-body{
            padding: 10px;
            p{
                font-size: 20px;
            }
            div{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                button{
                    background-color: $massive-blue;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    padding: 10px;
                    &:hover{
                        color: $massive-blue;
                        background-color: white;
                        transition: ease-in-out;
                        transition-duration: .3s;
                    }
                }
                input{
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}